<footer class="footer-custom bg-dark text-white py-4 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex justify-content-center gap-4">
        {{ with .Site.Params.instagram }}
          <a href="{{ . }}" class="text-white icon-hover" aria-label="Instagram" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-instagram"></i>
          </a>
        {{ end }}



        {{ with .Site.Params.facebook }}
          <a href="{{ . }}" class="text-white icon-hover" aria-label="Facebook" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-facebook"></i>
          </a>
        {{ end }}


                {{ with .Site.Params.email }}
          <a href="{{ . }}" class="text-white icon-hover" aria-label="Email" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-envelope"></i>
          </a>
        {{ end }}

                {{ with .Site.Params.website }}
          <a href="{{ . }}" class="text-white icon-hover" aria-label="Sitio web" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-globe"></i>
          </a>
        {{ end }}
      </div>
    </div>
  </div>
</footer>